.title {
	font-size: 3.5rem;
	color: rgb(240, 224, 144);
	text-align: center;
	margin: 15px 0 25px 0;
}

.addTodoBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.addTodo {
	width: 25rem;
	height: 2.3rem;
	text-indent: 15px;
	font-size: 1.1rem;
	font-weight: 700;
	border: none;
	border-radius: 30px;
	outline: none;
}

.addTodoButton {
	width: 2.3rem;
	height: 2.3rem;
	background-color: black;
	color: rgb(142, 219, 219);
	font-size: 2rem;
	font-weight: 700;
	border: none;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
}

.addTodoButton:hover {
	color: rgb(214, 210, 200);
}

.todos {
	width: 30rem;
	height: 25rem;
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px 20px;
	scroll-behavior: smooth;
	overflow-y: auto;
}
