li.wrapType {
	width: 49%;
	height: 3.5rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 2.25rem;
	border-bottom: 1px solid rgb(219, 208, 172);
	padding: 0.5rem 0;
}

li.listType {
	width: 49%;
	height: 4.5rem;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 2.25rem;
	border-bottom: 1px solid rgb(219, 208, 172);
	padding: 0.5rem 0;
}

li:nth-child(odd) {
	border-right: 1px solid rgb(219, 208, 172);
}

.id {
	color: rgb(190, 227, 227);
	cursor: pointer;
}

.id:hover {
	color: rgb(23, 106, 107);
}

.nolist {
	color: rgb(191, 60, 60);
	font-size: 1.2rem;
	font-weight: 700;
}
