li {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 0.5rem;
	border-bottom: 1px solid rgb(219, 208, 172);
	padding-bottom: 0.5rem;
}

.id {
	color: rgb(190, 227, 227);
	cursor: pointer;
}

.id:hover {
	color: rgb(23, 106, 107);
}

.nolist {
	color: rgb(191, 60, 60);
	font-size: 1.2rem;
	font-weight: 700;
}
